img {
  height: min-content;
  width: auto;
  max-height: 250px;
  align-self: center;

}

div > h3 {
  display: inline;
}
 #items{
    color: var(--Textcolor);
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   align-items: center;
 }

 .item {
   border: 1px solid black;
   padding: 1em;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 500px;
   align-items: center;
   align-self: stretch;
   color: var(--Textcolor);
   text-decoration: none;
 }
 #search {
  border: 2px solid black;
  display: block;
  margin: 0.2em;
  padding: .2em;
  background-color: var(--BoxBackground);
  color: var(--Textcolor);
  height: min-content;
}

#search input{
  color: var(--Textcolor);
}
