<div>
  <div id="search">
    <form>
      <mat-form-field>
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name="search" [(ngModel)]="search">
        <button matSuffix mat-button (click)="onSearch()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div id="items">
    <div class="item" *ngFor="let item of watch">
      <a id="{{item.id}}" href="./details/watch/{{item.id}}" (mouseover)="mouseHover(item.id)"
        (mouseout)="mouseLeave(item.id)">
        <h3>{{item.title}}</h3>
        <img src="{{item.image}}" />
      </a>
      <app-buttons *ngIf="displayBtn[item.id!]">buttons</app-buttons>
    </div>
  </div>
</div>
