<p>
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>clear</mat-icon>
  </button>
  &emsp;
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>visibility</mat-icon>
  </button>
  &emsp;
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>favorite</mat-icon>
  </button>
  &emsp;
  <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>watch_later</mat-icon>
  </button>
</p>
