/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
:root {
    --fontSize: 32px;
    font-size: var(--fontSize);
    box-sizing: border-box;
    --NavBackground: #7289DA;
    --HoverColorP: #089EAC;
    --HoverColorS: #40444B;
    --Textcolor: white;
    --BodyBackground: #202225;
    --HighlightColor: #EF4A25;
    --BoxBackground: #292B2F;
}

body{
    background-color: var(--BodyBackground);
}
